@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .form>input{
      @apply bg-gray-200 px-3 py-4 focus:outline-orange-500
  }
  .button{
      @apply border-solid border-2 border-transparent rounded-md px-8 py-2 mt-7 bg-black text-white hover:bg-transparent hover:text-black hover:border-black duration-500 text-xl font-bold
  }

}


.transBg{
  background-color: rgba(0, 0 , 0, 0.5);
  height:inherit;
}
.temp{
  background-color: rgba(0, 0 , 0, 0.3);
 
}
.revie{
  background-color: rgba(0, 0 , 0, 0.6);
  height:inherit;
}
